#ambitions {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: purple;
  background-size: 100vw 100vh;
  color: white; }
  #ambitions .content {
    width: 100%;
    text-align: center; }
    #ambitions .content .back {
      position: absolute;
      left: 70px;
      top: 100px; }
    #ambitions .content .logo {
      width: 300px; }
    #ambitions .content #way {
      background-color: white;
      color: purple; }
      #ambitions .content #way h1 {
        color: black;
        padding-top: 30px; }
      #ambitions .content #way .details {
        margin: auto;
        margin-top: 20px;
        padding: 40px;
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap; }
        #ambitions .content #way .details .how {
          width: 30%;
          height: auto;
          background-color: purple;
          margin: 20px;
          padding: 30px;
          font-size: 20px;
          color: white; }
          #ambitions .content #way .details .how h3 {
            color: #F4C57D;
            margin-top: 0; }
          #ambitions .content #way .details .how p {
            margin-top: 30px;
            text-align: left; }
