$screen-sm-min:     768px;
$gold:         #F4C57D;
$dark-red:     #8A0707;
$light-grey:   #E7E7E7;
$orange:       #FD8419;

#presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: url('https://storage.googleapis.com/jendigitalvision/commun/background.png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: center;

    .logo {
        width: 300px;
    }

    a {
        color: white;
    }

    a:hover, a:focus {
        text-decoration: none;
        color: $gold;
    }

    .content {
        background-color: rgba(#FFFFFF, 0.7);
        border-radius: 175px;
        height: 350px;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;

        .back {
            position: absolute;
            left: 70px;
            top: 100px;
        }

        img {
            width: 300px;
        }
    }

    #menu {
        display: flex;
        margin-top: 30px;
        background-color: rgba(#FFFFFF, 0.7);
        padding: 10px 40px;
        border-radius: 10px;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 25px;
            color: black;

            &:last-child {
                margin-right: 0;
            }

            &#english {
                display: none;
            }
        }

        img {
            width: 50px;
            height: 50px;
        }
    }
}
