$screen-sm-min:     768px;
$gold:         #F4C57D;
$light-grey:   #F5F5F5;
$dark-grey:    #545454;

#missions {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: $light-grey;
    background-size: 100vw 100vh;
    color: white;

    .content {
        width: 100%;
        text-align: center;
        
        .back {
            position: absolute;
            left: 70px;
            top: 100px;
        }

        .logo {
            width: 300px;
        }

        #title {
            color: $gold;
        }

        #subtitle {
            color: purple;
        }

        #projects {
            background-color: white;
            color: purple;

            h1 {
                color: black;
                padding-top: 30px;
            }

            .theme {
                margin: auto;
                margin-top: 20px;
                padding: 40px;
                padding-top: 10px;
                display: flex;
                flex-wrap: wrap;

                .project {
                    width: 30%;
                    height: auto;
                    background-color: $light-grey;
                    margin: 20px;
                    padding: 30px;
                    font-size: 20px;
                    color: white;

                    img {
                        max-width: 290px;
                        min-width: 150px;
                        height: 250px;
                        overflow: hidden;

                        &.github {
                            margin-top: 20px;
                            width: 150px;
                            height: 50px;
                        }
                    }

                    h3 {
                        color: purple;
                    }

                    h4 {
                        color: $gold;
                        margin-top: 0;
                        margin-bottom: 0;

                        &.date {
                            margin-top: 20px;
                            color: black;
                        }
                    }

                    .stack {
                        font-size: 16px;
                        color: $dark-grey;
                    }

                    p {
                        margin-top: 30px;
                        text-align: left;
                        color: purple;
                    }

                    #lpn {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

}